<nav class="navbar navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Aken Rent</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Anasayfa</a>
          </li>
          <div class="buton">
           
            <button routerLink="register" type="button" class="btn btn-outline-light">Kayıt ol</button>
          </div>
          <div class="buton1">
            <button  routerLink="login" type="button" class="btn btn-outline-light">Giriş yap</button>
          </div>
          

          
         <app-cart-summary></app-cart-summary>

        </ul>
        
      </div>
    </div>
  </nav>