
  <ul class="list-group">
      <li class="list-group-item text-center text-white bg-dark" (click) = "reset()" [class]="getAllBrandClass()" routerLink = "/cars">
          
          MARKALAR
          
      </li>

      <div class="mb-3 ">

    
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Marka Giriniz.">
      </div>
      
  
      <li class="list-group-item bg-light" 
       (click) = "setCurrentBrand(brand)"
      routerLink = "/cars/brand/{{brand.id}}"      
      *ngFor = "let brand of brands |brandFilterPipe:filterText,filter"
      [class] = "getCurrentBrandClass(brand)"
      class="form-check-label">
        {{brand.brandName}}
      </li>
  
      
    </ul>

<!--     
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>Renk Seçiniz.</option>
    <option  *ngFor = "let brand of brands">{{brand.brandName}}</option>
  </select> -->
